body{
background-image:url("paint-splatter-2.png");
}

.container {
   background-image:url("easy.png");
   border: 5px solid black;
   border-radius: 5px;
   width: 720px;
   height: 720px;
   margin: 20px auto;
}

.square {
   height: 45px;
   width: 45px;
   float: left;
   
}

.buttons li{
list-style-type:none;
text-decoration:none;
border:none;
text-align:center;
}

.clicked {
  background-color: yellow;
}

.selections {
text-align:center;
margin-left:50px;
}
